<table>
  <tbody>
    <% @non_grouped_ingredients.each do |i| %>
      <tr>        
        <td><%= i.name %></td>
        <td><%= i.amount %></td>
        <td><%= i.created_at.strftime("%Y-%m-%d") %></td>
      </tr>
    <% end %>    
  </tbody>
</table>
<%= link_to 'New', new_ingredient_path, class: 'btn btn-lg btn-success btn-block' %>